h4{
  padding-top: 0.5rem;
  color: #c12828;
}

button{
  margin-top:0.5rem;
  margin-right: 0.5rem;
  width: 8rem;
}

.inputRow{
  padding-bottom: .25rem;
  margin-left: -6rem;
}

input{
  margin-left: -1rem;
}

hr{
  border: none;
  height: 2px;
  background-color: #c12828;
}
