.recent-production-list-div{
  padding-left: 1rem;
  margin-right: 1rem;
  margin-top: -0.5rem;
  max-height: 30rem;
  overflow-x: auto;
  overflow-y: auto;
}

a{
  text-decoration: none;
}

.header{
  position: sticky;
  top: 0;
  background-color: #0e437c;
  color: #efcf6d;
}

h4{
  padding-top: 1rem;
  padding-bottom: 0.15rem;
  text-align: center;
  color: #c12828;
}

.timeframe_radio_btn_div{
  width: 50rem;
  height: 20rem;
  border: #012246 2px solid;
  opacity: 0.83;
}

hr{
  margin-top: 1rem;
  border: none;
  height: 2px;
  background-color: #c12828;
}
