<h4>Recent Well Production</h4>
<div class="recent-production-list-div">
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col" class="header col-1">Permit #</th>
    <th scope="col" class="header col-3">Well</th>
    <th scope="col" class="header col-2">County</th>
    <th scope="col" class="header col-2">Township</th>
    <th scope="col" class="header col-1">Type</th>
    <th scope="col" class="header col-1">Qty</th>
    <th scope="col" class="header col-2">Date</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let well of wells">
    <th scope="row"><a routerLink="/production/{{well.getId()}}" title="Add Production for {{well.getWellName()}} #{{well.getWellNumber()}}">{{well.getPermitNumber()}}</a></th>
    <td>{{well.getWellName()}}&nbsp;#{{well.getWellNumber()}}</td>
    <td>{{well.getCountyName()}}</td>
    <td>{{well.getTownshipName()}}</td>
    <td *ngIf="well.getProduction().length > 0;else emptyProduction">{{well.getProduction()[well.getProduction().length -1].getType()}}</td>
    <td *ngIf="well.getProduction().length > 0;else emptyProduction">{{well.getProduction()[well.getProduction().length -1].getQuantity()}}</td>
    <td *ngIf="well.getProduction().length > 0;else emptyProduction">{{well.getProduction()[well.getProduction().length - 1].getPayedDate()}}</td>
    <ng-template #emptyProduction>
      <td></td>
    </ng-template>
  </tr>
  </tbody>
</table>
</div>
