.header{
  position: sticky;
  top: 0;
  background-color: #0e437c;
  color: #efcf6d;
}

.wells-list-div{
  padding-left: 1rem;
  margin-right: 1rem;
  margin-top: -0.5rem;
  max-height: 30rem;
  overflow-x: auto;
  overflow-y: auto;
}

h4{
  padding-top: 1rem;
  padding-bottom: 0.15rem;
  text-align: center;
  color: #c12828;
}

.buttons-div{
  padding-top: 1rem;
}
button{
  margin-right: 0.25rem;
}

hr{
  margin-top: 1rem;
  border: none;
  height: 2px;
  background-color: #c12828;
}
