button{
  margin-top: 1rem;
  margin-right: 0.50rem;
}
#container-div{
  margin-top: 1rem;
}
h5{
  padding-top: 0.30rem;
  color: dimgrey;
}
#productionQuantity{
  width: 6rem;
}

h4{
  padding-top: 1rem;
  padding-left: 1rem;
  margin-left: 2rem;
  color: #c12828;
  text-align: center;
}

.outer-div{
  max-width: 50rem;
  margin: auto ;
}

input, select{
  margin-bottom: 0.5rem;
}
