<div class="container" id="container-div">
  <div class="row">
    <label class="col-1 text-end" for="1wellNameAndNumber">Well:</label>
    <select class="col-3" name="wellNameAndNumber" id="1wellNameAndNumber" #selectedWell
            (change)="switchWell(selectedWell.value)">
      <option *ngFor="let w of wells" [value]="w.getId()"
              [selected]="well.getId() === w.getId()">{{w.getWellName()}} #{{w.getWellNumber()}}</option>
    </select>
    <h5 class="col-1 text-end">({{well.getPermitNumber()}})</h5>
  </div>
  <br/>
  <div class="row">
    <label class="col-4 text-end" for="productionType" id="productionTypeLabel">Production Type:</label>
    <select class="col-1 align-content-sm-start" name="productionType" #productionType id="productionType">
      <option value="Oil" [selected]="well.getProduction()[well.getProduction().length -1].getType() === 'Oil'">Oil
      </option>
      <option value="Gas" [selected]="well.getProduction()[well.getProduction().length - 1].getType() === 'Gas'">Gas
      </option>
      <option value="Brine" [selected]="well.getProduction()[well.getProduction().length - 1].getType() === 'Brine'">
        Brine
      </option>
    </select>
  </div>
  <br/>
  <div class="row">
    <label class="col-4 text-end" for="productionQuantity" id="productionQuantityLabel">Quantity:</label>
    <input class="col-1" id="productionQuantity" #productionQuantity type="number" step="0.001"
           value="{{well.getProduction()[well.getProduction().length -1].getQuantity()}}"/>
  </div>
  <br/>
  <div class="row">
    <label class="col-4 text-end" for="dateProduced" id="dateProducedLabel">Date Produced:</label>
    <input class="col-2" id="dateProduced" #dateProduced type="date"
           [value]="well.getProduction()[well.getProduction().length-1].getPayedDate().toISOString().slice(0,10)"/>
  </div>
  <br/>

  <div class="row">
<!--    <div>-->
    <div class="col-2"></div>
      <button type="button" [routerLink]="['/']" class="btn btn-secondary col-2">Cancel</button>
      <button type="button" class="btn btn-primary col-2" (click)="insertProduction(
    selectedWell.value, productionType.value, productionQuantity.valueAsNumber, dateProduced.valueAsDate)">
        Insert Production
      </button>
<!--    </div>-->
  </div>
</div>
