label{
  margin-right: 0.25rem;
}
#productionType{
  padding-right: 3rem;
}
#wellNameAndNumber{
  margin-right: 3rem;
}
#productionTypeLabel{
  margin-left: 8.70rem;
}
#productionQuantityLabel{
  margin-top: .2rem;
  margin-left: 12.1rem;
}
#productionQuantity{
  margin-top: .2rem;
}
#dateProducedLabel{
  margin-top: .2rem;
  margin-left: 9.2rem;
}
#dateProduced{
  margin-top: .2rem;
}

button{
  margin-right: 0.50rem;
}
