<div class="container" id="container-div">
  <h4>Modify Production</h4>
  <div class="row col-12">
    <div class="col-3"></div>
    <label class="col-1 text-end" for="wellNameAndNumber">Well:</label>
    <select  name="wellNameAndNumber" id="wellNameAndNumber" #selectedWell
            (change)="switchWell(selectedWell.value)">
      <option *ngFor="let w of wells" [value]="w.getId()"
              [selected]="well.getId() === w.getId()">{{w.getWellName()}} #{{w.getWellNumber()}}</option>
    </select>
    <h5 class="col-1 text-end">({{well.getPermitNumber()}})</h5>
  </div>
  <br/>
  <div class="row col-12">
    <div class="col-3"></div>
  <div class="table-div">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col" class="header col-1"></th>
      <th scope="col" class="header col-3">Date Produced</th>
      <th scope="col" class="header col-2">Type</th>
      <th scope="col" class="header col-2">Qty</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let prod of well.getProduction()">
      <td><input #radioSelection name="selection" value="{{well.getId()}}" id="{{well.getId()}}" type="radio"/></td>
      <td>{{prod.getPayedDate()}}</td>
      <td>{{prod.getType()}}</td>
      <td>{{prod.getQuantity()}}</td>
    </tr>
    </tbody>

  </table>
  </div>
  </div>
  <br/>
  <div class="row">
    <div class="row col-12">
    <div class="col-2"></div>
    <button type="button" [routerLink]="['/']" class="btn btn-secondary col-2">Cancel</button>
    <button type="button" class="btn btn-danger col-2" (click)="deleteProduction(getSelectedPosition())">
      Delete
    </button>
    <button type="button" class="btn btn-primary col-2"
            [routerLink]="['/', 'production', '/','{{well.getId()}}','/', 'getSelectedPosition()']">
      Update
    </button>
    <button type="button" class="btn btn-success col-2"
            [routerLink]="['/', 'production', '/','{{well.getId()}}','/', 'getSelectedPosition()']">
      Insert
    </button>
  </div>
  </div>
</div>

