<div class="container" id="container-div">
  <h4>Modify Production</h4>
  <div class="row">
    <!--    <div class="col"></div>-->
    <label class="col text-end" for="wellNameAndNumber">Well:</label>
    <select class="col" name="wellNameAndNumber" id="wellNameAndNumber" #selectedWell
            (change)="switchWell(selectedWell.value)">
      <option *ngFor="let w of wells" [value]="w.getId()"
              [selected]="well.getId() === w.getId()">{{w.getWellName()}} #{{w.getWellNumber()}}</option>
    </select>
    <h5 class="col">({{well.getPermitNumber()}})</h5>
  </div>
  <br/>
  <div class="row col-12 prod-table">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" class="header col-1"></th>
        <th scope="col" class="header col-3">Date Produced</th>
        <th scope="col" class="header col-2">Type</th>
        <th scope="col" class="header col-2">Qty</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let prod of well.getProduction()">
        <td><input #radioSelection name="selection" value="{{well.getId()}}" id="{{well.getId()}}" type="radio"/></td>
        <td>{{prod.getPayedDate()}}</td>
        <td>{{prod.getType()}}</td>
        <td>{{prod.getQuantity()}}</td>
      </tr>
      </tbody>

    </table>
  </div>
  <br/>
  <div class="row justify-content-center">
    <button type="button" [routerLink]="['/']" class="btn btn-secondary col">Cancel</button>
    <button type="button" [routerLink]="['/']" class="btn btn-danger col"
            (click)="deleteProduction(getSelectedPosition())">Delete</button>
    <button type="button" class="btn btn-primary col"
            (click)="updateProduction(well.getId(), getSelectedPosition())">Update</button>
    <button type="button" class="btn btn-success col" [routerLink]="['/production/',well.getId()]">Add</button>
  </div>
</div>

